 <html>
        <style>
                body{
                    background-color: green;
                }
            </style>
     <body>
         <a href="/">Home</a>
         <a href="/listAllTasks">List Tasks</a>
         <form action="addtask" method="POST">
             Task Name: <input type="text" name="taskName"/><br>
             Task Due: <input type="text" name="taskDue"/><br>
             Task Desc: <input type="text" name="taskDesc"/><br>
             <button>Submit</button>
         </form>
     </body>
 </html>